.panel {
	font-family: Courier New;
	max-width: auto;
	max-height: auto;
}

.panel-footer {
	background-color: #171717;
	color: white;
	padding: 5px;
	width: 100%;
	height: 100%;
	max-height: auto;
	max-width: auto;
}